body{
    background-color: black;
    color: white;
    margin: 0;
    font-family:sans-serif;
}

.game{
    width: 100%;
}
.game p,h1{
    text-align: center;
    font-size: 30px;
    margin: 10px;
}
.play{
    display: flex;
    justify-content: center;
    gap: 70px;
}
.play > p{
    display: flex;
    align-items: center;
    margin: 0;
}
.player,.computer{
    width: auto;
    height: auto;
}
.computer div, .player div{
    width: auto;
    height: 130px;
    display: flex;
    justify-content: center;
}
.computer div img,.player div img{
    width: 130px;
    height: auto;
}
.player div img{
    transform:rotateX(160deg) rotateZ(90deg);
}
.computer div img{
    transform: rotate(270deg);
}
.options{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
    margin: 10px;
}
.options button{
    font-size: 20px;
    width: 100px;
    height: 50px;
    color: #ffffff;
    background-color: #000000;
    border: #ffffff solid;
}
